@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src:
    local(''),
    url('./fonts/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'GmarketSans';
  src:
    local(''),
    url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
      format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Swiper Tailwind에서 만든 custom-scrollbar 적용 */
.swipeable-list {
  @apply custom-scrollbar;
}

/* 댓글 스크롤 */
.custom-scrollbar {
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: background 0.5s ease;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb,
.custom-scrollbar:active::-webkit-scrollbar-thumb {
  background: #a6a4e9;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
